<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>

		<!--<add key="ConnectionString1" value="Data Source=LAPTOP-MDSF3EB2\MSSQLSERVER01; Initial Catalog=vs; Integrated Security=True" />-->
		
		<add key="ConnectionString1" value="server=88.99.68.222,1232;user id=vs;password=Babi@2292;database=vs; Connect Timeout=2000; pooling='true'; Max Pool Size=2000" />
		
		<add key="ConnectionString2" value="server=88.99.68.222,1232;user id=vs_acc;password=Babi@2292;database=vs_acc; Connect Timeout=2000; pooling='true'; Max Pool Size=2000" />

	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="includehex" maxdatasize="1024">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
				 type="System.Diagnostics.TextWriterTraceListener"
				 initializeData="network.log" />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	
	<system.web>
		<pages theme="SkinFile" maintainScrollPositionOnPostBack="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
       <globalization culture="en-US" enableClientBasedCulture="true" uiCulture="en-US" />
-->

		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		<sessionState timeout="20000" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed" existingResponse="PassThrough" />
	</system.webServer>
</configuration>
